header {
  height: 80px;
  background-color: black;
  position: fixed;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

main {
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
}

#drawer {
  width: 400px;
  background-color: black;
  height: 100%;
  border-top: 1px solid white;
  transform: translateX(-400px);
}

#drawer-button:checked ~ main > #drawer {
  transform: translateX(0);
}

#drawer-button {
  display: none;
}

label::after {
  content: "OPEN";
  margin-left: 24px;
  border: 1px solid white;
  padding: 16px;
}

#drawer-button:checked ~ header > label::after {
  content: "CLOSE";
}
